{% load static %}
<!doctype html>
<html>
  <head>
    <title>Search View </title>
    <!-- ReactJS -->
    <script src="https://npmcdn.com/react@15.3.0/dist/react-with-addons.min.js"></script>
    <script src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.min.js"></script>
    <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Remarkable Markdown Rendering -->
    <script src="https://npmcdn.com/remarkable@1.6.2/dist/remarkable.min.js"></script>

    <!-- Page styling -->
    <link href="{% static 'questions/home/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="container" id="content"></div>
    <script src="{% static 'questions/home/app.js' %}" type="text/babel"></script>
    <noscript>Want to use this website? Turn on JavaScript!</noscript>
  </body>
</html>
